@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* отступ для фиксированного header */
  font-size: 12.8px; /* Уменьшаем интерфейс на 20% (16px * 0.8 = 12.8px) */
}

body {
  margin: 0;
  font-family: "Sansation", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Скрыть встроенные иконки показа пароля от браузера */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;